/* --- button outline --- */
.btn-outline-blue {
  --bs-btn-color: #6B73C0;
  --bs-btn-border-color: #6B73C0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6B73C0;
  --bs-btn-hover-border-color: #6B73C0;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6B73C0;
  --bs-btn-active-border-color: #6B73C0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6B73C0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6B73C0;
  --bs-gradient: none;
}
/* --- shadow --- */
.shadow-lg-blue {
  box-shadow: 0 1rem 3rem #1763c56e !important;
}