
body {
    font-family: 'Readex Pro', sans-serif;
    background-color: #F5F6FB;
    overflow-x: hidden;
}
@media (min-width: 576px) { 
    /* .intro{
        height: 100vh;
    } */
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
    .navigasibar{
        position:sticky;
        bottom: 10px;
    }
}
@media (min-width: 768px) {  
    /* .intro{
        height: 100vh;
    } */
    .navigasibar{
        position:sticky;
        bottom: 20px;
    }
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 992px) {  
    .navigasibar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    /* .intro{
        height: 100vh;
    } */
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 1200px) {  
    .navigasibar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    /* .intro{
        height: 100vh;
    } */
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 1400px) {  
    .navigasibar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    /* .intro{
        height: 100vh;
    } */
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
/* ========== section==========  */
.navigasibar{
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(12px);
    background-color: #ffffffce;
    border: 1px solid #ffffff62;
    border-radius: 100px;
    position: sticky;
    top: 20px;
    padding: 1em 0;
    margin-top: 2rem; 
}
.home{ 
    background-color: #daebdf
}
.home-body{
    position: relative;
    top: -615px;
}
.home-col{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.home-col-1{
    background-color: #f7f9f8a1;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 180px;
    padding: 20px;
    flex: 40%;
    border-left: 1px solid #ffffff96;
    border-top: 1px solid #ffffff96;
    border-bottom: 1px solid #ffffff96;
    margin: 0;
}
.home-col-2{
    background-color: #f7f9f8a1;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 270px;
    padding: 20px;
    flex: 70%;
    border-right: 1px solid #ffffff96;
    border-top: 1px solid #ffffff96;
    border-bottom: 1px solid #ffffff96;
    margin: 0;   
}

.home-detail{
    border: solid 2px #3f3e3e;
    border-radius: 19px;
    
}
.intro{
    margin-top: -18rem;
    overflow-x: hidden;
}
.intro-wall{
    width: 100vw;
    border-radius: 0 0 700px 700px;
    background-color: #daebdf;
    padding-top: 20rem;
}
.intro-body{
    border-radius: 27px;
    padding: 3rem;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-color: #fbfdff9f;
    border: solid #fff 0.071rem;
    box-shadow: #8eb39b52 0px 25px 50px -10px, #8eb39b52 0px 15px 30px -15px;
    margin-bottom: 40px;
}
.portfolio{
    height: 100vh;
    overflow-x: hidden;
}
/* ========== background==========  */
.bg-light-glass {
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid #f8f9fa4d;
    background-color: #969ddaa9;
}
.bg-tab-card{
    background-color:#fff;
    border-radius: 4px;
}

/* bubble */
.animation-bg{
    overflow: hidden;
    height: 100vh;
    /* background-color: #007ACC; */
}
.ball {
  animation: float 3.5s ease-in-out infinite;
  height: 1000px;
  width: 1600px;
  border-radius: 50%;
  position: relative;
  top: -590px;

  background: radial-gradient(
    circle at 75% 30%,
    #edf0ed 5px,
    #97ccbf 18%,
    #75a390 40%,
    #b7e2d7 100%
  );
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #f3f8f2,
    inset 88px 0px 60px #f3f8f2, inset -20px -60px 100px #F7F9F7,
    inset 0 50px 140px #F7F9F7, 0 0 90px #fff;
}
.ball1 {
    animation: float 4.5s ease-in-out infinite;
    height: 1200px;
    width: 1500px;
    border-radius: 50%;
    position: relative;
    top: -1890px;
    left: -330px;
  
    background: radial-gradient(
      circle at 75% 30%,
      #edf0ed 5px,
      #97ccbf 18%,
      #75a390 40%,
      #b7e2d7 100%
    );
    box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #f3f8f2,
      inset 88px 0px 60px #f3f8f2, inset -20px -60px 100px #F7F9F7,
      inset 0 50px 140px #F7F9F7, 0 0 90px #fff;
  }
  .ball2 {
    animation: float 4s ease-in-out infinite;
    height: 1130px;
    width: 2000px;
    border-radius: 50%;
    position: relative;
    top: -3050px;
    right: -100px;
  
    background: radial-gradient(
      circle at 75% 30%,
      #edf0ed 5px,
      #97ccbf 18%,
      #75a390 40%,
      #b7e2d7 100%
    );
    box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #f3f8f2,
      inset 88px 0px 60px #f3f8f2, inset -20px -60px 100px #F7F9F7,
      inset 0 50px 140px #F7F9F7, 0 0 90px #fff;
  }
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-60px);
  }
  100% {
    transform: translatey(0px);
  }
}


@media only screen and (max-width: 500px) {
  .ball {
    animation: float 4.5s ease-in-out infinite;
    height: 120px;
    width: 120px;

    background: radial-gradient(
      circle at 65% 35%,
      white 5px,
      aqua 15%,
      darkblue 50%,
      aqua 100%
    );
    box-shadow: inset 0 -20px 30px #fff, inset 40px 0 46px #eaf5fc,
      inset 58px 0px 60px #c2d8fe, inset -8px -30px 100px #fde9ea,
      inset 0 20px 110px #fde9ea, 0 0 90px #fff;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-50px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}


/* =========== Text =========== */
.home-header{
    font-size: 5.2rem;
    font-weight: 200;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-header1{
    font-size: 3.1rem;
    font-weight: 700;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-header2{
    font-size: 3rem;
    font-weight: 400;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-header3{
    font-size: 5.6rem;
    font-weight: 200;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-text{
    font-weight: 400;
}
.intro-header{
    font-size: 4rem;
    font-weight:500;
}
.text-dark-lavender{
    color: #5763B5;
}
.text-light-lav{
    color: #ccd1fa;
}
.text-indigo{
    color: #5F6EEA;
}
.teks{
    text-decoration: none;
    color: #171717;
}
.teks:hover{
    color: #8eb997;
}
.text-honey{
    color: #FCB43C;
}
.text-matcha{
    color: #000000;
}
.text-strawberry{
    color: #F36A8D;
}
.text-right{
    text-align: right;
}
.port-nav{
    font-size: 1.4rem;
    color: #94aac7;
    text-decoration: none;
}
.port-nav:hover{
    color: #80AE9C;
}
.port-nav:focus{
    color: #171717;
}
.port-head{
    font-size: 1.4rem;
}
/* ------ img ------- */
.profile-picture{
    width: 350px;
    height: 350px;
    object-fit: scale-down;

}
/* element */
.buton-wraper{
    border: solid 1.2px #171717;
    border-radius: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.buton{
    width: 50px;
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
    color: #171717;
}
.buton:hover{
    background-color: #171717;
    /* border-radius: 6px; */
    border: solid 1px #D5DFD7;
    padding-top: 7.4px;
    padding-bottom: 3.4px;
    border-radius: 7px;
    color: #F5F6FB;
}
/* ========= */
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}