
body {
    font-family: 'Readex Pro', sans-serif;
    background-color: #F5F6FB;
}
@media (min-width: 576px) { 
    /* .intro{
        height: 100vh;
    } */
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
    .navigasibar{
        position:sticky;
        bottom: 10px;
    }
}
@media (min-width: 768px) {  
    /* .intro{
        height: 100vh;
    } */
    .navigasibar{
        position:sticky;
        bottom: 20px;
    }
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 992px) {  
    .navigasibar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    /* .intro{
        height: 100vh;
    } */
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 1200px) {  
    .navigasibar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    /* .intro{
        height: 100vh;
    } */
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 1400px) {  
    .navigasibar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    /* .intro{
        height: 100vh;
    } */
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
/* ========== section==========  */
.navigasibar{
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(12px);
    background-color: #ffffffce;
    border: 1px solid #f8f9fa4d;
    border-radius: 100px;
    position: sticky;
    top: 20px;
    padding: 1em 0;
    margin-top: 2rem; 
}
.home{ 
    background-color: #D5DFD7;
}
.home-detail{
    border: solid 2px #3f3e3e;
    border-radius: 19px;
} 
.intro{
    margin-top: -18rem;
}
.intro-wall{
    width: 100vw;
    border-radius: 0 0 700px 700px;
    background-color: #D5DFD7;
    padding-top: 22rem;
}
.intro-body{
    border-radius: 27px;
    padding: 3rem;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-color: #1717179f;
}
.portfolio{
    height: 100vh;
}
/* ========== background==========  */
.bg-light-glass {
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid #f8f9fa4d;
    background-color: #969ddaa9;
}
.bg-tab-card{
    background-color:#fff;
    border-radius: 4px;
}
/* =========== Text =========== */
.home-header{
    font-size: 5.6rem;
    font-weight: 200;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-header1{
    font-size: 3.1rem;
    font-weight: 400;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-header2{
    font-size: 3rem;
    font-weight: 400;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-header3{
    font-size: 5.6rem;
    font-weight: 200;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-text{
    font-weight: 400;
}
.intro-header{
    font-size: 4rem;
    font-weight:500;
}
.text-dark-lavender{
    color: #5763B5;
}
.text-light-lav{
    color: #ccd1fa;
}
.text-indigo{
    color: #5F6EEA;
}
.teks{
    text-decoration: none;
    color: #171717;
}
.teks:hover{
    color: #8eb997;
}
.text-honey{
    color: #FCB43C;
}
.text-matcha{
    color: #000000;
}
.text-strawberry{
    color: #F36A8D;
}
.text-right{
    text-align: right;
}
.port-nav{
    font-size: 1.4rem;
    color: #969DDA;
    text-decoration: none;
}
.port-nav:hover{
    color: #FCB43C;
}
.port-nav:focus{
    color: #F36A8D;
}
.port-head{
    font-size: 1.4rem;
}
/* ------ img ------- */
.profile{
    width: 500px;
}
/* element */
.buton-wraper{
    border: solid 1.2px #171717;
    border-radius: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.buton{
    width: 50px;
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
    color: #171717;
}
.buton:hover{
    background-color: #171717;
    /* border-radius: 6px; */
    border: solid 1px #D5DFD7;
    padding-top: 7.4px;
    padding-bottom: 3.4px;
    border-radius: 7px;
    color: #F5F6FB;
}
/* ========= */
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}